.section1{
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 20px;
}
.box-1 {
    width: 200px;
    height: 200px;
    border: 2px solid #000;
    text-align: center;
    display: flex;
    
    justify-content: center;
    
}


.box {
    width: 200px;
    height: 200px;
    border: 2px solid #000;
    text-align: center;
    display: flex;
    
    justify-content: center;
    
}
.section2 .box{
    height: 50px;
    width: 50px;
    margin-right: 20px;
}

.section2 {
    display: flex;
    width: 100%;
    text-align: center;
    justify-content: center;
}